@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$black: #000000;
$blue: #14213d;
$orange: #fca311;
$grey-light: #e5e5e5;
$white: #ffffff;
$grey-drak: #353535;

$primary-color: $blue;
$secondary-color: $orange;
$background-color: $black;

$liner-color: linear-gradient(80turn, #fca311, #fff, #fca311);

$spacing: 1rem;

$small: 540px;
$medium: 900px;
