@import "./../../styles/variable";

.app-layout {
  margin-top: 0px;
  position: relative;

  &::after {
    content: "Kalaivanan";
    bottom: 00px;
    position: absolute;
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    opacity: 0.09;
    left: 1rem;

    @media screen and (max-width: $medium) {
      font-size: 10vw;
    }
  }
}
