@import "./../../styles/variable";

.experience {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 83px;
  padding-bottom: 20vh;
  margin: 0;
  &__title {
    text-align: center;
    margin: $spacing * 2 0;
  }
  &__list {
    display: block;

    h2 {
      position: relative;
      display: inline-block;
      margin-bottom: $spacing;
      margin-top: $spacing * 1.5;
      &::after {
        content: "";
        width: 50%;
        height: 3px;
        background: $orange;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__item {
      padding: $spacing;
      background: $white;
      margin: $spacing 0;
      border-radius: 10px;
      border-top: 2px solid $orange;
      border-left: 2px solid $orange;
      box-shadow: 3px 3px 5px rgb(255, 255, 255);
      * {
        color: $primary-color;
      }
      p,
      li {
        font-size: 12px;
      }
    }
    &__company {
    }
    &__skill {
      margin-top: $spacing;
    }
    &__role {
      margin-top: $spacing;
    }
    &__roles {
      padding-left: $spacing;
    }
  }

  &__button-container {
    margin-top: $spacing * 2;
    width: 100%;
    a {
      display: flex;
      width: 100%;
      justify-content: flex-end;

      button {
        @media screen and (max-width: $small) {
          width: 100%;
        }
      }
    }
  }
}
