@import "./../../styles/variable";

.social-media-icons {
  display: flex;
  justify-content: center;
  margin-top: $spacing * 3;

  a {
    display: block;
    margin: 0 $spacing * 2;
    img {
      background: $liner-color;
      border-radius: 5px;
    }
  }
}

.social-media-container {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
}

.social-media-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cv-link {
  margin-top: $spacing * 2;
  a {
    display: block;
    color: #fca311;
    font-weight: 600;
  }
}
